body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f5f5f5;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#0A1F44;
padding:15px 40px;
color:white;
}

.nav-links{
list-style:none;
display:flex;
}

.nav-links li{
margin-left:20px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:bold;
}

.hero{
background:#0A1F44;
color:white;
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:50px;
}

.btn{
background:#2563EB;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

section{
padding:60px 40px;
}

h2{
color:#0A1F44;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.timeline{
border-left:4px solid #2563EB;
padding-left:20px;
}

.job{
margin-bottom:25px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}
